/* A class to put on all sprites that have more than one animation or reuse animations */
.reusable-sprite {
  animation: none;
  animation-iteration-count: 1;
}

/******************************************
* Player related animations
*******************************************/

.ani-player-enter {
  animation-name: player-enter;
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes player-enter {
  70% { transform: translateY(-70px); }
  100% { transform: translateY(-70px); }
}

.ani-invulnerable {
  animation-name: invulnerable;
  animation-timing-function: linear;
  animation-duration: 2s;
}

@keyframes invulnerable {
  0% { opacity: 1; }
  16% { opacity: .2; }
  33% { opacity: 1; }
  50% { opacity: .2; }
  66% { opacity: 1; }
  83% { opacity: .2; }
  100% { opacity: 1; }
}

.ani-pbullet-normal {
  animation-name: player-bullet-normal;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes player-bullet-normal {
  100% { transform: translateY(-1000px); }
}

.ani-pbullet-expand {
  background-color: orange;
  box-shadow: 0 0 16px orange;
  animation-name: player-bullet-expand;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

@keyframes player-bullet-expand {
  100% { transform: translateY(-1000px) scale(4); }
}

/******************************************
* Bonus related animations
*******************************************/

.ani-glide-right {
  animation-name: glide-from-left;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes glide-from-left {
  100% { transform: translate(700px); }
}

.ani-glide-left {
  animation-name: glide-from-right;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes glide-from-right {
  100% { transform: translate(-700px); }
}

.slow-bonus {
  animation-duration: 4s;
}

.fast-bonus {
  animation-duration: 2s;
}

/******************************************
* Enemy related animations
*******************************************/

.ani-enemy-smooth {
  animation-timing-function: linear;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.ani-enemy-smooth-fast {
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.ani-enemy-smooth-slow {
  animation-timing-function: linear;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

@keyframes a {
  100% { top: 30px; left: 5% }
}

@keyframes b {
  100% { top: 30px; left: 47% }
}

@keyframes c {
  100% { top: 30px; left: 88% }
}

@keyframes d {
  100% { top: 80px; left: 32% }
}

@keyframes e {
  100% { top: 80px; left: 60% }
}

@keyframes f {
  100% { top: 130px; left: 5% }
}

@keyframes g {
  100% { top: 130px; left: 47% }
}

@keyframes h {
  100% { top: 130px; left: 88% }
}

/******************************************
* Generic animations
*******************************************/

.ani-explosion-1 {
  animation-name: explode-1;
  animation-timing-function: linear;
  animation-iteration-count: 3;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

@keyframes explode-1 {
  0% { transform: scale(.01); }
  50% { transform: scale(1); }
  100% { transform: scale(.01); }
}

/******************************************
* Animmation modifiers
*******************************************/

.paused {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
