/******************************************
* Player related animations
*******************************************/

.ani-player-enter {
  animation-name: player-enter;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes player-enter {
  70% { transform: translateY(-70px); }
  100% { transform: translateY(-70px); }
}

.ani-pbullet-normal {
  animation-name: player-bullet-normal;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes player-bullet-normal {
  100% { transform: translateY(-1000px); }
}

.ani-pbullet-expand {
  background-color: orange;
  box-shadow: 0 0 16px orange;
  animation-name: player-bullet-expand;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

@keyframes player-bullet-expand {
  100% { transform: translateY(-1000px) scale(4); }
}

/******************************************
* Bonus related animations
*******************************************/

.ani-glide-right {
  animation-name: glide-from-left;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes glide-from-left {
  100% { transform: translate(700px); }
}

.ani-glide-left {
  animation-name: glide-from-right;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes glide-from-right {
  100% { transform: translate(-700px); }
}

.slow-bonus {
  animation-duration: 4s;
}

.fast-bonus {
  animation-duration: 2s;
}

/******************************************
* Enemy related animations
*******************************************/


/******************************************
* Generic animations
*******************************************/

.ani-explosion-1 {
  animation-name: explode-1;
  animation-timing-function: linear;
  animation-iteration-count: 3;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes explode-1 {
  0% { transform: scale(.01); }
  50% { transform: scale(1); }
  100% { transform: scale(.01); }
}

/******************************************
* Animmation modifiers
*******************************************/

.paused {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
