@import url('https://fonts.googleapis.com/css?family=VT323');

* {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  font-family: 'VT323', monospace;
  font-weight: bold;
}

body {
  background-color: grey;
}

h1 {
  padding-bottom: 10px;
  align-self: center;
}

h2 {
  padding-bottom: 20px;
  align-self: center;
}

form * {
  text-align: left;
  padding: 5px;
  margin: 0 5px;
  font-size: 1.2em;
}

form p {
  margin-left: 10px;
  margin-bottom: .8em;
}

form input {
  margin: 2px;
}

fieldset {
  margin: 10px;
}

#content {
  min-height: 700px;
  max-height: 900px;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#settings, #instructions, #sidebar-stats, #sidebar-controls {
  background-image: url('../images/metal.png');
  background-repeat: repeat;
  border-top: 3px solid silver;
  border-left: 3px solid silver;
  border-bottom: 3px solid dimgrey;
  border-right: 3px solid dimgrey;
  overflow: hidden;
}

#game-area {
  margin: 5px;
  max-width: 600px;
  min-width: 400px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  background-image: url('../images/stars.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

#enemy-space {
  min-height: 200px;
  margin-top: 0;
}

#bonus-space {
  min-height: 100px;
}

#empty-space {
  flex-grow: 1;
  min-height: 200px;
}

#player-space {
  height: 80px;
  margin-bottom: 0;
}

#player.shield {
  border-top: 3px dotted lightblue;
  border-radius: 40%;
}

#glass, #projectile-space, #pause, #stage-messages {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#projectile-space {
  margin: 0;
  z-index: 0;
}

#stage-messages {
  color: white;
  z-index: 1;
  letter-spacing: 2px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#pause {
  color: white;
  letter-spacing: 2px;
  z-index: 2;
}

#glass {
  cursor: none;
  z-index: 3;
  border-top: 3px solid dimgrey;
  border-left: 3px solid dimgrey;
  border-bottom: 3px solid silver;
  border-right: 3px solid silver;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#glass.show-cursor {
  cursor: auto;
}

#settings {
  max-width: 500px;
  z-index: 4;
}

#instructions {
  max-width: 500px;
  z-index: 5;
}

#sidebar {
  margin: 5px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#sidebar-stats {
  flex-grow: 1;
  text-align: left;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#sidebar-stats > h1 {
  margin: 10px auto;
}

#sidebar-stats > h3 {
  text-align: left;
  padding: 0 0 5px 15px;
}

#sidebar-stats > h4 {
  text-align: left;
  padding: 0 0 5px 40px;
  text-transform: uppercase;
}

#extra-lives {
  min-height: 61px;
  max-height: 180px;
  margin: 5px 20px 10px 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  overflow: hidden;
}

#sidebar-controls {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}

#btn-restart {
  margin-top: 20px;
}

#btn-instruct {
  margin-bottom: 20px;
}

.spacer {
  flex-grow: 1;
}

.extra-life {
  margin: 3px;
}

.button {
  margin: 5px 20px;
  padding: 5px;
  cursor: pointer;
  background-color: silver;
}

.button:hover {
  background-color: white;
}

.button:disabled {
  color: dimgrey;
  background-color: grey;
}

.popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: auto;
  margin: 0 auto;
  padding: 15px;
}

.popup.overlay {
  background-color: rgba(0,0,0,0.8);
}

.popup.hidden {
  display: none;
}

.popup-container {
  margin: 0 auto;
}

.sprite-field {
  margin: 20px 0;
  z-index: 1;
  position: relative;
}

.sprite-field div {
  position: absolute;
  display: inline-flex;
  justify-content: center;
}

.enemy-bullet {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: deeppink;
  box-shadow: 0 0 16px deeppink;
}

.player-bullet {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: lightgreen;
  box-shadow: 0 0 16px lightgreen;
}

.explosion {
  position: absolute;
  align-self: center;
}
